.App {
  display: grid;
  grid-template-rows: 5% 10% auto;
  text-align: center;
  margin: 0.5%;
  /* min-height: 87vh; */
  font-family:'Times New Roman', Times, serif;
  font-size: 1rem;
}




.App-header {
  margin: auto;
  font-size: calc(8px + 2vmin);
  border-bottom:1px solid #ccc;
  text-align: center;
  width: 70%;
}


.App-footer{
  display: flex;
  align-items: flex-end;
  justify-content:flex-end;
  height: 100%;
}

.main-Section{
/*   margin:5%;
  padding:5%; */ 

}

.users-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr) ;
  grid-template-rows: repeat(4,1fr) ;
  grid-gap: 0.5em;
 place-items: center;

}

.image-form{
  margin: auto;
  display: flex;
  flex-direction:column;
  min-width: 400px;
  max-width:700px
}